@charset "UTF-8";
/* 공통 */
.container {
  width: 1200px;
  margin: 0 auto;
  height: inherit;
}

/* color */
* {
  box-sizing: border-box;
}

#wrap {
  width: 100%;
}

#header {
  padding: 19px 30px 18px;
  width: 100%;
  height: 189px;
}
#header .nav_top {
  display: flex;
  height: 35px;
  line-height: 35px;
  justify-content: space-between;
}
#header .nav_top .header_brand_list {
  display: flex;
}
#header .nav_top .header_brand_list li {
  color: #c7c7c7;
  font-size: 13%;
}
#header .nav_top .header_brand_list li a {
  line-height: 35px;
  padding: 0 5px;
}
#header .nav_top .mobile_right {
  display: none;
}
#header .nav_middle {
  height: 82px;
  line-height: 82px;
  display: flex;
  justify-content: flex-end;
}
#header .nav_middle .header_search {
  margin: 20px 0;
}
#header .nav_middle .header_search .search_form {
  position: relative;
}
#header .nav_middle .header_search .search_form input {
  z-index: 2;
  font-size: 14px;
  width: 380px;
  vertical-align: top;
  background: #fff;
  padding: 12px 46px 12px 7px;
  border: 0;
  border-bottom: 1px solid #111;
}
#header .nav_middle .header_search .search_form .header_search_submit i {
  position: absolute;
  background: url("../img/spr_search.png") no-repeat;
  font: 0/0 a !important;
  width: 21px;
  height: 20px;
  top: 18px;
  right: 10px;
}
#header .nav_bottom {
  height: 35px;
  line-height: 35px;
}
#header .nav_bottom .main_menu {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#header .nav_bottom .main_menu .main_menu_list {
  display: flex;
  width: 900px;
  justify-content: space-between;
}
#header .nav_bottom .main_menu .main_menu_list li {
  color: #111;
  display: block;
  font-weight: 400;
  line-height: 35px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
#header .nav_bottom .main_menu .main_menu_list li .menu_category {
  transition: max-height 0.5s;
  display: none;
  height: 200px;
  padding: 20px 0;
}
#header .nav_bottom .main_menu .main_menu_list li .menu_category .menu_category_item {
  padding-left: 0;
  width: 150px;
}
#header .nav_bottom .main_menu .main_menu_list li .menu_category .menu_category_item a {
  font-size: 12px;
  color: #111;
}
#header .nav_bottom .main_menu .main_menu_list:hover .menu_category {
  display: block;
  position: absolute;
  top: 18px;
  z-index: 999;
}
#header .nav_bottom .main_menu .header_util {
  display: flex;
}
#header .nav_bottom .main_menu .header_util li a {
  line-height: 35px;
  padding: 0 8px 0 9px;
  color: #989898;
  position: relative;
}
#header .nav_bottom .bg {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 200px;
  background: rgb(255, 255, 255);
  margin-top: 100px;
  z-index: 2;
  display: none;
  top: 70px;
}
#header .nav_bottom:hover .bg {
  display: block;
}

#main #section1 {
  width: 100%;
  margin: 0 auto;
}
#main #section1 .mainSlide {
  /* display: flex;
  justify-content: space-between; */
  width: 1920px;
  width: inherit;
  margin: 0 auto;
  position: relative;
}
#main #section1 .mainSlide .swiper .swiper-wrapper .swiper-slide a img {
  max-width: 100%;
  width: auto;
}
#main #section1 .mainSlide .swiper .swiper-pagination {
  position: absolute;
}
#main #section1 .topten_event a img {
  max-width: 100%;
  width: auto;
}
#main section {
  width: 100%;
}
#main section .main_suggest {
  width: 1200px;
  padding: 0;
  margin: 55px auto;
  display: flex;
  justify-content: space-between;
}
#main section .main_suggest .suggest_left {
  width: 590px;
  border: 1px solid #ddd;
}
#main section .main_suggest .suggest_left .suggest_tit {
  padding: 20px 0 28px;
  text-align: center;
  letter-spacing: -0.06vw;
}
#main section .main_suggest .suggest_left .suggest_tit h3 {
  display: block;
  margin-bottom: 6px;
  font-size: 25px;
}
#main section .main_suggest .suggest_left .suggest_item {
  margin-bottom: 0;
  padding: 0 29px;
  display: flex;
  justify-content: space-between;
}
#main section .main_suggest .suggest_left .suggest_item li {
  width: 160px;
  height: 375px;
}
#main section .main_suggest .suggest_left .suggest_item li a img {
  height: 218px;
  width: 160;
}
#main section .main_suggest .suggest_left .suggest_item li .item_info .item_brand {
  color: #989898;
}
#main section .main_suggest .suggest_left .suggest_item li .item_info .item_text {
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main section .main_suggest .suggest_left .suggest_item li .item_info .item_price {
  margin-top: 6px;
}
#main section .main_suggest .suggest_left .suggest_item li .item_info .item_price .item_text_price {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}
#main section .main_suggest .suggest_left .suggest_item li .item_info .item_price .item_text_discount {
  color: #ff3500;
  font-size: 14px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 17px;
}
#main section .main_suggest .suggest_left .suggest_item li .item_info .item_colors {
  display: flex;
  margin-top: 9px;
}
#main section .main_suggest .suggest_left .suggest_item li .item_info .item_colors .color_chip {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 4px;
  background: red;
}
#main section .main_suggest .suggest_left .suggest_item li .item_info .item_good_size {
  margin-top: 6px;
  max-height: 36px;
  background-color: rgb(240, 240, 240);
  width: 80px;
  text-align: center;
  border-radius: 5px;
}
#main section .main_suggest .suggest_left .suggest_item li .item_info .item_good_size p {
  margin: 3px 6px;
  display: block;
  color: #757575;
  font-size: 12px;
}
#main section .main_suggest .suggest_right {
  width: 590px;
  border: 1px solid #ddd;
}
#main section .main_suggest .suggest_right .suggest_tit {
  padding: 20px 0 28px;
  text-align: center;
  letter-spacing: -0.06vw;
}
#main section .main_suggest .suggest_right .suggest_tit h3 {
  display: block;
  margin-bottom: 6px;
  font-size: 25px;
}
#main section .main_suggest .suggest_right .suggest_item {
  margin-bottom: 0;
  padding: 0 29px;
  display: flex;
  justify-content: space-between;
}
#main section .main_suggest .suggest_right .suggest_item li {
  width: 160px;
  height: 375px;
}
#main section .main_suggest .suggest_right .suggest_item li a img {
  height: 218px;
  width: 160;
}
#main section .main_suggest .suggest_right .suggest_item li .item_info .item_brand {
  color: #989898;
}
#main section .main_suggest .suggest_right .suggest_item li .item_info .item_text {
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main section .main_suggest .suggest_right .suggest_item li .item_info .item_price {
  margin-top: 6px;
}
#main section .main_suggest .suggest_right .suggest_item li .item_info .item_price .item_text_price {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}
#main section .main_suggest .suggest_right .suggest_item li .item_info .item_price .item_text_discount {
  color: #ff3500;
  font-size: 14px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 17px;
}
#main section .main_suggest .suggest_right .suggest_item li .item_info .item_colors {
  display: flex;
  margin-top: 9px;
}
#main section .main_suggest .suggest_right .suggest_item li .item_info .item_colors .color_chip {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 4px;
  background: red;
}
#main section .main_suggest .suggest_right .suggest_item li .item_info .item_good_size {
  margin-top: 6px;
  max-height: 36px;
  background-color: rgb(240, 240, 240);
  width: 80px;
  text-align: center;
  border-radius: 5px;
}
#main section .main_suggest .suggest_right .suggest_item li .item_info .item_good_size p {
  margin: 3px 6px;
  display: block;
  color: #757575;
  font-size: 12px;
}
#main section .event_banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 280px;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#main section .event_banner a {
  margin-bottom: 10px;
}
#main section .event_banner a img {
  width: 100%;
  max-height: 100%;
}
#main section .main_feature {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
#main section .main_feature .main_feature_tit {
  padding: 40px 0 33px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
#main section .main_feature .main_feature_tit h2 {
  position: relative;
  display: inline-block;
  line-height: 26px;
  font-weight: bold;
  padding: 0 24px;
  background: #fff;
  z-index: 2;
}
#main section .main_feature .main_feature_tit::after {
  content: "";
  display: block;
  position: relative;
  bottom: 17px;
  width: 100%;
  height: 1px;
  background: #111;
  z-index: 1;
}
#main section .main_feature .feature_rolling {
  text-align: center;
  margin-bottom: 30px;
}
#main section .main_feature .feature_rolling ul {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
#main section .main_feature .feature_rolling ul li {
  padding: 0 30px;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide {
  margin-right: 0;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide a img {
  max-width: 100%;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info {
  text-align: left;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .info_box {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .info_box .item_brand {
  color: #989898;
  position: relative;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .info_box .item_brand span {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
  font-size: 10px;
  color: #c7c7c7;
  padding-left: 8px;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .info_box .item_brand span::before {
  content: "|";
  font-size: 8px;
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .info_box .item_text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 6px;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .info_box .item_price .item_text_price2 {
  font-size: 12px;
  color: #989898;
  margin-left: 5px;
  line-height: 17px;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .info_box .item_price .item_text_discount {
  color: #ff3500;
  font-size: 14px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 17px;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .item_colors {
  display: flex;
  margin-top: 9px;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .item_colors .color_chip {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 4px;
  background: red;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .item_good_size {
  margin-top: 6px;
  max-height: 36px;
  background-color: rgb(240, 240, 240);
  width: 80px;
  text-align: center;
  border-radius: 5px;
}
#main section .main_feature .main_feature_slide .swiper .swiper-wrapper .swiper-slide .item_info .item_good_size p {
  margin: 3px 6px;
  display: block;
  color: #757575;
  font-size: 12px;
}
#main section .magazin_list {
  display: flex;
  margin: 80px auto;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
}
#main section .magazin_list li {
  border: 1px solid #e4e4e4;
  margin-bottom: 50px;
  position: relative;
}
#main section .magazin_list li a img {
  width: 100%;
}
#main section .magazin_list li a .magazin_text {
  left: 0;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
  color: black;
  letter-spacing: -0.05px;
  padding-left: 2vw;
}
#main section .magazin_list li a .magazin_text span {
  font-size: 24px;
  font-weight: 600;
  display: block;
}
#main section .magazin_list li a .magazin_text2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 2vw;
}
#main section .magazin_list li a .magazin_text2 > p {
  color: #989898;
}
#main section .magazin_list li a .magazin_text2 > span {
  margin-right: 2vw;
  font-size: 13px;
}
#main section .magazin_list li:last-child {
  margin-left: 16px;
}

#footer {
  max-width: 100%;
  padding-bottom: 45px;
  background-color: #f6f6f6;
  margin-top: 100px;
  font-size: 13px;
  line-height: 1.79;
}
#footer .footer_inner {
  max-width: 100%;
  width: 1400px;
  margin: 0 auto;
  position: relative;
}
#footer .footer_inner .footer_top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#footer .footer_inner .footer_top .etc_link {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
#footer .footer_inner .footer_top .etc_link li a {
  line-height: 49px;
  padding-left: 30px;
  padding-right: 31px;
}
#footer .footer_inner .footer_top .etc_link li:last-child {
  font-weight: 700;
}
#footer .footer_inner .footer_mdl {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}
#footer .footer_inner .footer_mdl .footer_topten_info h1 {
  margin-bottom: 35px;
}
#footer .footer_inner .footer_mdl .footer_topten_buisness {
  display: flex;
  flex-direction: column;
  padding-top: 82px;
}
#footer .footer_inner .footer_mdl .footer_topten_buisness p {
  display: flex;
  justify-content: space-between;
}
#footer .footer_inner .footer_mdl .footer_topten_buisness p span {
  width: 225px;
  font-size: 13px;
}
#footer .footer_inner .footer_mdl .footer_topten_buisness p a {
  width: 116px;
  font-size: 12px;
  background: #2f2f2f;
  border-radius: 10px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
#footer .footer_inner .footer_mdl .footer_topten_Service .footer_sub_title {
  font-size: 18px;
  color: #f68211;
  font-weight: bold;
  margin-top: -7px;
  margin-bottom: 26px;
  margin-left: 10px;
}
#footer .footer_inner .footer_bottom {
  display: flex;
}
#footer .footer_inner .footer_bottom .footer_bottom_left {
  width: 380px;
  margin-right: 68px;
}
#footer .footer_inner .footer_bottom .footer_bottom_right {
  display: flex;
  color: #111;
}
#footer .footer_inner .footer_bottom .footer_bottom_right li {
  padding-right: 15px;
}
@media screen and (max-width: 1445px) {
  .container {
    width: 100%;
  }
  section .main_feature {
    padding: 0 100px;
  }
}
@media screen and (max-width: 1220px) {
  #main section .main_suggest {
    flex-direction: column;
    width: 590px;
    margin: 20px auto;
  }
  #main section .main_suggest .suggest_left {
    border: none;
  }
  #main section .main_suggest .suggest_right {
    border: none;
  }
}
@media screen and (min-width: 980px) {
  section .main_feature .main_feature_slide .swiper .swiper-button-next {
    display: none;
  }
  section .main_feature .main_feature_slide .swiper .swiper-button-prev {
    display: none;
  }
  section .main_feature .main_feature_slide .swiper .swiper-pagination {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .container {
    width: 100%;
  }
  #header {
    width: 100%;
    height: 60px;
  }
  #header .nav_top .header_brand_list {
    display: none;
  }
  #header .nav_top .mobile_right {
    display: block;
  }
  #header .nav_top .mobile_right .mobile_header_search {
    display: none;
  }
  #header .nav_top .mobile_right ul li .app_btn {
    width: 26px;
    height: 16px;
    display: block;
    position: relative;
    top: 5px;
  }
  #header .nav_top .mobile_right ul li .app_btn .bar {
    width: 100%;
    height: 2px;
    background: #555;
    display: block;
    position: absolute;
    transition: 0.3s;
  }
  #header .nav_top .mobile_right ul li .app_btn .bar1 {
    top: 0;
  }
  #header .nav_top .mobile_right ul li .app_btn .bar1.add {
    top: 50%;
    margin-top: -1px;
    transform: rotate(-45deg);
  }
  #header .nav_top .mobile_right ul li .app_btn .bar2 {
    top: 50%;
  }
  #header .nav_top .mobile_right ul li .app_btn .bar2.add {
    opacity: 0;
  }
  #header .nav_top .mobile_right ul li .app_btn .bar3 {
    top: 100%;
  }
  #header .nav_top .mobile_right ul li .app_btn .bar3.add {
    top: 50%;
    margin-top: -1px;
    transform: rotate(45deg);
  }
  #header .nav_top .mobile_right ul li .mobile_menu_list {
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    display: none;
    height: 700px;
    z-index: 10000;
  }
  #header .nav_top .mobile_right ul li .mobile_menu_list li {
    height: 50px;
    border-bottom: 1px solid #ddd;
    background: rgb(0, 0, 0);
    line-height: 50px;
    text-align: center;
    font-size: 18px;
  }
  #header .nav_top .mobile_right ul li .mobile_menu_list li a {
    color: white;
  }
  #header .nav_bottom {
    display: none;
  }
  section .main_feature .feature_rolling ul li {
    display: none;
  }
  section .main_feature .main_feature_slide .swiper .swiper-button-next {
    display: none;
    color: #989898;
  }
  section .main_feature .main_feature_slide .swiper .swiper-button-prev {
    display: none;
    color: #989898;
  }
  section .main_feature .main_feature_slide .swiper .swiper-pagination {
    display: block;
  }
  section .magazin_list {
    flex-direction: column;
    width: 100%;
    padding: 0 80px;
  }
  section .magazin_list li:last-child {
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
  .nav_middle {
    display: none;
  }
  #header .nav_top .mobile_right {
    display: flex;
  }
  #header .nav_top .mobile_right .mobile_header_search {
    display: block;
    margin-right: 15px;
  }
  #header .nav_top .mobile_right .mobile_header_search a .fa-search {
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */